#container {
	border: 1px solid black;
	max-width: 850px;
}
#side-bar {
	min-height: 500px;
	border: 1px solid black;
	float:left;
	width: 30%;
}
#nav-bar {
	border: 1px solid black;
}

.navEl {
	display: inline-block;
	font-size: 30px;
	margin-right: 10px;
}
.img {
	display: inline-block;
}
img {
	width: 100%;
	max-width: 850px;
}

/* Change when smaller than 850px) ----------- */
@media only screen and (max-width : 850px) {
	#container {
		padding:18px;
	}

	#side-bar {
		margin-right: 18px;
		min-width: 320px;
	}
	.navEl {
		font-size:1.2em;
		text-align:left;
		color: purple;
	}
}

